/*INDEX-HOME SECTION*/
:root {
  --hero-bg-color: #d1f7ff;
  --heading-font: "Playfair Display", serif;
  --content-font: "Poppins", sans-serif;
  --content-color: #404849;
  --btn-bg-color: #0dcaf0;
  --btn-shadow: 1px 1px 1px 1px rgba(39, 33, 66, 0.5);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: bold;
}

h2 {
  font-size: 40px;
}

p {
  font-family: var(--content-font);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.container img {
  margin: 15px auto;
}

.hero {
  background-color: var(--hero-bg-color);
  /*#bdf2fd*/
  text-align: center;
  padding: 100px 10px;
}

.hero p {
  font-size: 32px;
  /*font-weight: bold;*/
  margin: 0;
}

.hero h1 {
  font-size: 80px;
  font-weight: normal;
}

.hero h2 {
  color: var(--content-color);
  font-family: var(--content-font);
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
}

.row {
  margin: 40px auto;
}

.btn-contact {
  color: floralwhite;
  background-color: var(--btn-bg-color);
  border-radius: 4px;
  line-height: 28px;
  font-size: 18px;
  padding: 12px 20px;
  box-shadow: var(--btn-shadow);
  margin: 10px 10px;
}

.project-link {
  color: var(--btn-bg-color);
  border: 1px solid var(--btn-bg-color);
  border-radius: 4px;
  line-height: 28px;
  font-size: 18px;
  padding: 12px 20px;
}

.project-content {
  padding: 0 10px 0;
}

.project-image {
  background-color: var(--hero-bg-color);
  margin: auto;
}

/*ABOUT SECTION*/
.about-section {
  padding: 160px 20px;
}

.about-content {
  margin: 30px;
}

.about-content h1 {
  font-size: 64px;
  line-height: 80px;
}

.about-content h2 {
  font-size: 18px;
  font-family: var(--content-font);
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 56px;
  }

  .project-content {
    padding: 0;
    text-align: center;
  }

  .project-image {
    padding: auto 0;
  }
}

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 1140px;
  }
}
